@font-face {
    font-family: RobotoSlab;
    src: url(Font/RobotoSlab-Regular.ttf);
}

body {
    font-family: RobotoSlab;
    background-color: ghostwhite;
}

.container-fluid {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 15px;
    background: #5687ff;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid #5687ff;
}

.btn {
    background-color: #5687ff !important;
    color: white !important;
    margin: 10px 0px;
    padding: 10px !important;
    border: none !important;
    cursor: pointer;
    width: 50% !important;
    opacity: 0.9 !important;
    font-weight: 500 !important;
}

.btn:hover {
    opacity: 1 !important;
}

.para {
    margin-top: 2%;
}