@font-face {
    font-family: RobotoSlab;
    src: url(Font/RobotoSlab-Regular.ttf);
}

body {
    font-family: RobotoSlab;
    background-color: ghostwhite;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.container-fluid {
    text-align: center;
}

.theme-loader {
    margin-top: 10%;
    width: 100px;
    height: 100px;
    display: none;
    color: #397b44 !important;
    display: block;
}

.main-content{
    display: none;
}

.heading {
    font-weight: 600;
    margin: 20px;
}

.container-fluid {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.userImage{
    display: flex;
    justify-content: center;
}

.avatar{
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #1f232826;
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #d0d7de;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 15px;
    background: #397b44;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: auto;
    font-size: medium;
}

.list-group-item {
    width: 100%;
    padding: 10px;
    outline: auto;
    font-size: medium;
    text-align: left;
}

.input-field:focus {
    border: 2px solid #5cbf7e;
}

.btn {
    background-color: #397b44 !important;
    color: white !important;
    margin: 10px 0px;
    padding: 10px !important;
    border: none !important;
    cursor: pointer;
    width: 50% !important;
    opacity: 0.9 !important;
    font-weight: 500 !important;
}

.btn:hover {
    opacity: 1 !important;
}