@font-face {
    font-family: RobotoSlab;
    src: url(Font/RobotoSlab-Regular.ttf);
}

body {
    font-family: RobotoSlab;
    background-color: ghostwhite;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.container-fluid {
    text-align: center;
}

.navbar {
    background-color: #397b44 !important;
    border: 1px solid black;
}

.navbar-brand {
    margin-left: 10px;
    color: #fff;
    font-weight: 700;
}

.navbar-toggler {
    margin-right: 10px;
    background-color: #fff;
}

.offcanvas{
    background-color: ghostwhite !important;
    color: black !important;
}

.userImage{
    display: flex;
    justify-content: center;
}

.avatar{
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #1f232826;
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    width: 40%;
    background-color: #fff;
    border: 1px solid #d0d7de;
}

.theme-loader {
    margin-top: 10%;
    width: 100px;
    height: 100px;
    color: #397b44 !important;
}

.main-content {
    display: none;
}

.heading {
    text-align: center;
    margin: 30px;
}

.form-control {
    padding: 10px;
}

.form-control:hover{
    border: 2px solid #5cbf7e;
}

.btn {
    background-color: #397b44;
    color: white;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
    font-weight: 500;
}

.btn-outline-secondary{
    padding: 0px 10px;
}

.btn:hover {
    opacity: 1;
    background-color: #5cbf7e;
    color: white;
}

.btn:focus {
    color: white !important;
    background-color: #5cbf7e !important;
}

.list-group-item {
    padding: 10px;
    outline: none;
    cursor: pointer;
    margin: 2px;
    text-align: left;
}

.list-group-item:hover, :focus {
    color: #fff;
    background-color: #397b44;
}